body, h1, h2, h3 {
	padding: 0;
	margin: 10px auto 10px auto;
}
body {
	width: 75%;
}
h1, h2 {
	text-align: center;
}
.header {
	background-color: #ff9944;
}

.tagline {

}

.skills {

}

.contact {

}